# Colorgy Core Environment Variables File

# Database URL.
# export DATABASE_URL=

# App Name & URL.
export APP_NAME='Colorgy'
export APP_URL='http://colorgy.dev'

# Secret.
export SECRET_KEY_BASE='development_secret'
export PEPPER='pepper_here'

# Mailing Service.
# Default email "from:" address.
export MAILER_SENDER='change_me@example.com'
# Which Mailing Service to use, can be 'test', 'letter_opener' or 'mailgun'.
export MAILER_DELIVERY_METHOD='letter_opener'
# Mailgun.
export MAILGUN_API_KEY='mailgun_api_key_here'
export MAILGUN_DOMAIN='mailgun_domain_here'

# SMS Service.
# Which SMS Service to use, can be 'test' or 'nexmo'.
export SMS_DELIVERY_METHOD='test'
# Nexmo.
export NEXMO_KEY='nexmo_key_here'
export NEXMO_SECRET='nexmo_secret_here'

# Monitoring and Analysis Tools.
# Remote Logger.
export REMOTE_LOGGER_HOST=
export REMOTE_LOGGER_PORT=
# New Relic.
export NEWRELIC_LICENSE_KEY=
