- field_name = :email

= simple_form_for @user, wrapper: :horizontal_inline_edit_form, url: my_account_path, html: { id: "user_#{field_name}_form" } do |f|
  = f.input field_name, placeholder: '最常使用的電子郵件信箱'

= render partial: 'field_ajax', locals: { field_name: field_name }
