
<div class="update-colorgy-chat-question" style="padding: 24px;">
	<h1>每日一問更換</h1>

	<p>dateString: 給一個當天的日期(ex. 2016/3/26) 如果原本已經有當日的問題的話就會變成更新原本的問題。</p>
	<div>
		<input id="dateString" type="text" placeholder="請填入 ex: 2016/3/26" />
	</div>
	<p>question: 問題的內容</p>
	<div>
		<input id="question" type="text" placeholder="問題內容" />
	</div>
	<div>
		<button class="create-question-btn">送出</button>
	</div>
	<div class="question-response">

	</div>
</div>

<script type="text/javascript">

	$('.create-question-btn').click(function(){
		var dateString = $('#dateString').val();
		var question = $('#question').val();
		var reqURL = 'http://chat.colorgy.io/questions/schedule_question?dateString=' + dateString + '&question=' + question;
		$.post(reqURL, function(res){
			alert('已送出');
			console.log(res);
			$('.question-response').html(res);
		})

	})
</script>
