css:

  .container {
    width: 100%;
    height: 100%;
    background-image: url('http://i.imgur.com/hCLAubo.png');
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

.container
