.container

  h1 認證身份

  = simple_form_for @email, url: my_account_emails_path do |f|
    = react_component(:NewUserEmailBox, emailPatterns: @email_patterns, email: @email)

  p 目前提供服務於 #{Organization.short_name_list.join(t(:comma, scope: :general))}。

css:
  .row h3 {
    margin-top: 8px;
  }
  .row .thumbnail {
    text-align: center;
  }
  .react-autocomplete-input-results {
    position: absolute;
    display: block;
  }
  input.email {
    border-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  form .action {
    text-align: center;
    padding: 12px;
  }
