// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "chosen";
@import "active_admin/*";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.panel_contents {
	overflow: auto;
}

.section > h3, .panel > h3 {

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}

.status_tag {

	&.user {
		background: #70c579;
	}

	&.core {
		background: #a970c5;
	}
}

.select2-container {
	min-width: 52px;
}

.filter_select {

	.select2-container {
		min-width: 100%;
	}
}

.columns .column {

	@media screen and (max-width: 1400px) {
		width: 100% !important;
	}
}

.admin_users {

	.index_as_grid {

		td img {
			height: 100px;
			width: 100px;
		}
	}
}
