.mini-nav li {
	position: relative;
}

.mobile-head {
	position: fixed;
	left: 0;
	right: 0;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	background-color: #263238;
	color: white;

	img {
		margin: 2px;
		max-height: 50px - (2px * 2);
	}
}

.mobile-head-placeholder {
	height: 50px;
}

.box-grid-1 {
	margin: 4px;
}

.box-grid-box {
	position: relative;
	float: left;
	width: 100%;
	padding-bottom: 100%;
}

.box-grid-box-body {
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
}

@mixin box-grid-2 {
	margin: 8px;

	.box-grid-box {
		width: 49.9%;
		padding-bottom: 49.9%;
	}

	.box-grid-box--lg,
	.box-grid-box--xl {
		width: 100%;
		padding-bottom: 49.9%;
	}

	.box-grid-box-body {
		position: absolute;
		top: 8px;
		right: 8px;
		bottom: 8px;
		left: 8px;
	}
}

.box-grid-2 {
	@include box-grid-2;
}

@mixin box-grid-4 {
	margin: 8px;

	.box-grid-box {
		width: 24.9%;
		padding-bottom: 24.9%;
	}

	.box-grid-box--lg {
		width: 49.9%;
		padding-bottom: 24.9%;
	}

	.box-grid-box--xl {
		width: 49.9%;
		padding-bottom: 49.9%;
	}

	.box-grid-box-body {
		position: absolute;
		top: 8px;
		right: 8px;
		bottom: 8px;
		left: 8px;
	}
}

.box-grid-4 {
	@include box-grid-4;
}

.box-grid {
	@extend .box-grid-1;
}

@media screen and (min-width: 768px) {

	.box-grid {
		@include box-grid-2;
	}
}

@media screen and (min-width: 992px) {

	.box-grid {
		@include box-grid-4;
	}
}

@import "compass/css3/images";

body.c-pages-index {
	background-image: url(image_path('colorgy/background_blur_1_dark.jpg'));
	background-size: cover;
	background-attachment: fixed;

	.box-grid-box-body {
		text-decoration: none !important;
	}

	.box-grid-box, a {

		&.disabled {
			opacity: .5;
			cursor: not-allowed;
		}
	}

	.service-card {
		background-size: cover;
		overflow: hidden;

		.service-name {
			position: absolute;
			bottom: 0;
			left: 0;
			margin: 0;
			color: white;
			text-decoration: none !important;
		}

		.service-description {
			text-align: right;
			font-style: italic;
			color: white;
			font-weight: 200;
			opacity: .5;
			text-decoration: none !important;
		}

		.card-image {
			height: 70px;
			height: 70%;
			background-size: cover;
			color: white;
		}

		.card-content {
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 18%;
				@include background-image(linear-gradient(top, rgba(white, 0) 0%, rgba(white, 1) 90%));
			}
		}
	}

	.more-services-card {

		.card-content a {

			&::after {
				content: ' / ';
				opacity: .5;
			}

			&:last-child::after {
				content: none;
			}
		}

		.more-services {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0;
			text-decoration: none !important;
		}
	}

	.user-card {

		.card-title {
			color: white;
			text-shadow: 0 0 4px rgba(black, .8), 0 0 14px rgba(black, .5);

			small {
				font-size: 14px;
				font-style: italic;
				opacity: .8;
			}
		}

		.card-image {
			height: 70px;
			height: 70%;
			background-size: cover;
		}

		.card-supporting-text {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 0;
			background-color: transparent;
		}
	}
}

.card-supporting-text {
	margin: -18px -24px;
	background-color: #f5f5f5;
	color: #757575;
	padding: 16px;
}

.bg-theme {

	a {
		color: white;
	}
}

.valign-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	.valign {
		display: block;
	}
}

.fb_iframe_widget {
	max-width: 100%;
	overflow: hidden;
}

.bg-transparent {
	background-color: transparent !important;
}

body.c-sessions {
	background-color: #eee;
}

body, .bg-fix {
	background-size: 100%;
	background-size: cover;
	background-attachment: fixed;
}

.box-margin-top {
	margin-top: 180px;
}

.opacity-5 {
	opacity: .5;
}

body.c-emails.c-emails-new {

	.steps-section {
		border-top: 1px solid rgba(255,255,255, .3);
		border-bottom: 1px solid rgba(255,255,255, .3);

		.steps {
			margin-left: auto;
			margin-right: auto;
			border: 0;
		}

		.steps-step {

			&::after {
				border-bottom: 1px solid rgba(255,255,255, .3);
				border-right: 1px solid rgba(255,255,255, .3);
			}
		}

		.steps-step.active {
			background: rgba(255,255,255, .3);

			&::before {
				background: rgba(255,255,255, 0);
			}

			&::after {
				background: rgba(255,255,255, .3);
			}
		}
	}

	.form-control {
		margin-bottom: 0;
	}

	.action,
	.actions {
		margin-top: 2px;
	}

	.card .row {
		margin-bottom: 0;
		margin-top: 20px;
	}

	.select2-choice {
		background-color: rgba(white, .3);
	}

	.select2-dropdown-open .select2-choice {
		border-bottom-color: transparent;
		-webkit-box-shadow: 0 1px 0 #fff inset;
		box-shadow: 0 1px 0 #fff inset;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		background-color: #eee;
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
		background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
		background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
		background-image: linear-gradient(to top, #fff 0%, #eee 50%);
	}

	.select2-chosen {
		line-height: 24px !important;
	}

	.info-row-fade-in-enter {
		opacity: 0.01;
		max-height: 0;
	}

	.info-row-fade-in-enter.info-row-fade-in-enter-active {
		opacity: 1;
		max-height: 400px;
		transition: all .3s ease;
	}

	.info-row-fade-in-leave {
		opacity: 1;
		max-height: 400px;
	}

	.info-row-fade-in-leave.info-row-fade-in-leave-active {
		opacity: 0.01;
		max-height: 0;
		transition: all .3s ease;
	}

	.info-row .row {
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 50%;
			bottom: 0;
			border-right: 1px solid rgba(white, .3);
		}

		@media screen and (min-width: 992px) {

			&::before {
				left: 33%;
				right: 33%;
				border-left: 1px solid rgba(white, .3);
				border-right: 1px solid rgba(white, .3);
			}
		}

		.organization {

			p:last-child {
				font-size: 150% !important;
			}
		}

		.identity {

			p:first-child {
				font-size: 130% !important;
			}
		}
	}
}

.input-group-addon {
	position: absolute;
	margin-top: 8px;
	margin-left: 12px;
}

.input-group-addon + .form-control,
.input-group-addon + * > .form-control {
	padding-left: 40px;
}

.react-autocomplete-input {
	position: relative;
}

